* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

html {
    box-sizing: border-box;   /* enabled also in Bootstrap */
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Responsive Full Background Image Using CSS */
body {
    background-image: url(/data/background.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#928a8a;
}

.displayOff {
    display: none;
}

.visibleOff {
    visibility: hidden;
}

.visibleOn {
    visibility: visible;
}

#welcomeMessage {
    position: relative;
}

#message {
    position: absolute;
    bottom: 30%;
    left: 50% ;
    transform: translateX(-50% );
    text-align: center;
}

#errorMessage {
    color: red;
}

#sortAndFilter {
    margin-left: 9%;
    margin-right: 27%;
}

table {
    background-color: #FDFCE5;
}

th {
    font-weight: normal;
} 

.formInputValid {
    border: solid 1px lightgray;
}

.formInputInvalid {
    border: solid 1px red;
}

.renameBtnHeight {
    padding-top: 3px;
    padding-bottom: 3px;
}

.markedText {
    text-decoration: line-through;
}

.sortBtn:hover {
    background-color: yellow;
}

.borderActive {
    border: solid 1px blue;
}

